[Desktop Entry]
Encoding=UTF-8
Name=Link to gstreamer - How to get two stereo camera images at the same time? - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/56747082/how-to-get-two-stereo-camera-images-at-the-same-time
Icon=text-html
