[Desktop Entry]
Encoding=UTF-8
Name=Link to Stereoscopic & Multiview Video Handling
Type=Link
URL=https://gstreamer.freedesktop.org/documentation/additional/design/stereo-multiview-video.html?gi-language=c
Icon=text-html
