[Desktop Entry]
Encoding=UTF-8
Name=Link to cmake not working, could not exec qmake - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/23703864/cmake-not-working-could-not-exec-qmake
Icon=text-html
