[Desktop Entry]
Encoding=UTF-8
Name=Link to Configuring incomplete, errors occurred! · Issue #1320 · CMU-Perceptual-Computing-Lab/openpose · GitHub
Type=Link
URL=https://github.com/CMU-Perceptual-Computing-Lab/openpose/issues/1320
Icon=text-html
