[Desktop Entry]
Encoding=UTF-8
Name=Link to How to install OpenPose on Jetson Xavier NX with Jetpack 4.4 - Jetson & Embedded Systems / Jetson Xavier NX - NVIDIA Developer Forums
Type=Link
URL=https://forums.developer.nvidia.com/t/how-to-install-openpose-on-jetson-xavier-nx-with-jetpack-4-4/147110
Icon=text-html
