[Desktop Entry]
Encoding=UTF-8
Name=Link to NVIDIA Jetson and Raspberry Pi: Xavier NX - NVIDIA AI IOT - Human Pose estimation using TensorRT
Type=Link
URL=https://spyjetson.blogspot.com/2020/08/xavier-nx-nvidia-ai-iot-human-pose.html
Icon=text-html
