[Desktop Entry]
Encoding=UTF-8
Name=Link to NVIDIA Jetson and Raspberry Pi: Jetpack 4.5 - Install the latest version of OpenPose on Jetson Xavier NX
Type=Link
URL=https://spyjetson.blogspot.com/2021/02/jetpack-45-install-latest-version-of_13.html
Icon=text-html
