[Desktop Entry]
Encoding=UTF-8
Name=Link to NVIDIA Jetson and Raspberry Pi: Xavier NX - NVIDIA AI IOT - Fast debugging trt_pose(Human Pose estimation using TensorRT) using VSCode
Type=Link
URL=https://spyjetson.blogspot.com/2021/01/xavier-nx-nvidia-ai-iot-fast-debuggiing.html
Icon=text-html
