[Desktop Entry]
Encoding=UTF-8
Name=Link to Why is my openpose script only running at around 3 fps on a Jetson Xavier? : computervision
Type=Link
URL=https://www.reddit.com/r/computervision/comments/oakg6c/why_is_my_openpose_script_only_running_at_around/
Icon=text-html
