[Desktop Entry]
Encoding=UTF-8
Name=Link to python - Illegal instruction(core dumped) error on Jetson Nano - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/65631801/illegal-instructioncore-dumped-error-on-jetson-nano
Icon=text-html
