[Desktop Entry]
Encoding=UTF-8
Name=Link to How to install Gstreamer Python Bindings - LifeStyleTransfer
Type=Link
URL=https://lifestyletransfer.com/how-to-install-gstreamer-python-bindings/
Icon=text-html
